In [152]:
import numpy as np
import pandas as pd

In [153]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [155]:
df.duplicated().sum()

0

In [156]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [157]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [158]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [159]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [160]:
df = pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first=True)

In [161]:
x = df.drop(columns=['Exited'])
y = df['Exited']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [162]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

In [163]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [164]:
x_train_scaled

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
         1.73494238,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

In [165]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(13, activation='relu', input_dim = 11))
model.add(Dense(1, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

c:\Users\Sumit\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [167]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_10 (Dense)                │ (None, 13)             │           156 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            14 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 170 (680.00 B)

 Trainable params: 170 (680.00 B)

 Non-trainable params: 0 (0.00 B)

In [168]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.fit(x_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

#need to increse the training epochs to get better accuracy
#validation accuracy is also increasing

Epoch 1/10

200/200 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - accuracy: 0.6495 - loss: 3.5585 - val_accuracy: 0.6906 - val_loss: 2.9933
Epoch 2/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.6975 - loss: 2.8275 - val_accuracy: 0.7138 - val_loss: 2.6951
Epoch 3/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7292 - loss: 2.5180 - val_accuracy: 0.7513 - val_loss: 2.4224
Epoch 4/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.7499 - loss: 2.4496 - val_accuracy: 0.7456 - val_loss: 2.2434
Epoch 5/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.7528 - loss: 2.2110 - val_accuracy: 0.7575 - val_loss: 2.1570
Epoch 6/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.7614 - loss: 2.0987 - val_accuracy: 0.7594 - val_loss: 2.0916
Epoch 7/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.7608 - loss: 2.0166 - val_accuracy: 0.7525 - val_loss: 2.0566
Epoch 8/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7585 - loss: 1.9808 - val_accuracy: 0.7613 - val_loss: 1.9580
Epoch 9/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7664 - loss: 1.8034 - val_accuracy: 0.7588 - val_loss: 1.8970
Epoch 10/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.7650 - loss: 1.9292 - val_accuracy: 0.7588 - val_loss: 1.8506

In [170]:
model.layers[0].get_weights()

[array([[-4.11451340e-01, -2.58375883e-01,  4.60310461e-04,
         -2.21674070e-01, -2.30547413e-01,  1.73385453e-03,
         -3.38080049e-01, -4.81868386e-01,  9.97227430e-02,
          2.94396013e-01, -4.22884762e-01,  3.08956712e-01,
         -1.21969618e-01],
        [-2.58188844e-01, -7.51532540e-02, -2.80178726e-01,
         -8.59255493e-02,  3.58396560e-01,  5.14388531e-02,
         -4.31971818e-01, -2.89862871e-01, -3.29300612e-01,
          2.07057640e-01,  2.15773761e-01,  2.97904789e-01,
         -1.31268620e-01],
        [-2.32377768e-01,  3.85179877e-01,  3.33065063e-01,
         -3.06955099e-01, -4.07076418e-01,  2.54878908e-01,
          1.41057327e-01, -4.14841115e-01, -9.55853388e-02,
          1.88484654e-01,  4.32064325e-01, -3.62469196e-01,
         -1.75904959e-01],
        [ 2.73017347e-01,  1.55514002e-01,  4.00712550e-01,
         -1.28570959e-01, -1.88335329e-01,  1.22671947e-01,
          1.99299172e-01, -9.39313397e-02,  1.77557141e-01,
         -2.35794410e-01, -4.58092570e-01,  3.54134649e-01,
          7.07181320e-02],
        [ 4.51986492e-01,  3.30395907e-01, -5.03685892e-01,
          2.52058934e-02, -2.67220050e-01,  3.39748591e-01,
         -3.47179055e-01, -2.59144902e-01,  2.89678633e-01,
          3.55860502e-01,  1.12301297e-01, -2.35808834e-01,
          1.14405572e-01],
        [-2.44235814e-01, -4.61877555e-01,  3.14597696e-01,
          1.39076978e-01, -2.01266214e-01,  3.70712310e-01,
          2.59124309e-01,  1.70676336e-01,  2.63403744e-01,
          8.94153044e-02, -4.11978841e-01, -1.75291330e-01,
         -7.39505664e-02],
        [-1.08530156e-01,  1.40898183e-01,  2.16245875e-01,
          1.99450217e-02,  4.42707419e-01, -2.76349872e-01,
         -1.98094442e-01, -4.10107136e-01,  4.58435595e-01,
          2.42900699e-01, -7.89124668e-02, -2.94494539e-01,
         -7.58350315e-03],
        [ 2.79435329e-02, -3.67851645e-01, -1.60129249e-01,
         -4.33677673e-01, -7.20340479e-03,  3.52329984e-02,
          1.10361606e-01,  3.66170675e-01, -2.06753463e-01,
          1.43883154e-01, -9.78502110e-02,  3.84894609e-01,
         -2.88799345e-01],
        [-1.27021223e-01,  2.44260266e-01,  1.51816040e-01,
         -1.64095163e-01,  1.93147987e-01,  3.30535114e-01,
         -2.21088693e-01,  3.74066949e-01, -3.32448751e-01,
          3.26420575e-01, -3.25251818e-01,  3.87957811e-01,
          1.57408446e-01],
        [-2.96514183e-01,  3.75369698e-01,  3.36142391e-01,
          4.46611583e-01,  8.77856985e-02, -1.58612147e-01,
          3.69085699e-01, -7.66796917e-02,  4.34438527e-01,
          3.86626095e-01,  2.17680350e-01, -2.28202939e-02,
          2.52876014e-01],
        [-5.97079135e-02,  7.90107623e-02,  4.60539460e-01,
         -3.50084454e-01,  3.41996104e-01, -1.55342340e-01,
         -1.43263891e-01, -3.15666437e-01,  4.75359082e-01,
          3.04956913e-01, -2.58227617e-01,  7.70685971e-02,
          1.76260978e-01]], dtype=float32),
 array([-0.03996301,  0.00214702, -0.09566982, -0.1139489 , -0.03615349,
         0.03185087, -0.00819562, -0.0363156 ,  0.09834015, -0.19430265,
         0.03008323,  0.04067118, -0.01872668], dtype=float32)]

In [171]:
model.layers[1].get_weights()

[array([[-0.5602303 ],
        [ 0.18236119],
        [ 0.21071975],
        [-0.1694013 ],
        [-0.42692202],
        [ 0.09386311],
        [-0.3384756 ],
        [ 0.3377038 ],
        [-0.17886822],
        [ 0.27874044],
        [ 0.17902558],
        [ 0.18101582],
        [-0.62177765]], dtype=float32),
 array([0.03666515], dtype=float32)]

In [172]:
y_log = model.predict(x_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

In [173]:
y_pred = np.where(y_log > 0.5, 1, 0)

In [174]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test, y_pred)

0.778